<!DOCTYPE html>
<html>
  <head>
    <title>stats</title>
    <link rel='stylesheet' href='/stylesheets/stats.css' />
    <META name="googlebot" content="NOARCHIVE, NOODP, NOSNIPPET" />
    <META name="slurp" content="NOARCHIVE, NOYDIR, NOSNIPPET" />
  </head>
  <body>
    <div id="stats-container"></div>
    <script src="/javascript/ejs_production.js" type="text/javascript"></script>
    <script type="text/javascript">
      function updateStats() {
        new EJS({url: '/ejs/_stats.ejs', cache:false}).update("stats-container","/_stats.json")
      }
      updateStats()
      setInterval(updateStats,15000)
    </script>
  </body>
</html>
