<div class="screen"></div>
<div class="modal">
  <div class="inner">
    <a href="https://botriot.campfirenow.com/2f00a" target="_blank" class="public">Chat with more people in our public Campfire room</a>
    <% var bot = bot || { name: "Example Bot" } %>
    <h4><%= bot.name %> Chat</h4>
    <form id="chatform">
      <ul class="chat">
        <li>
          <span class="user">Botriot</span>
          <span class="message">Hi there! Type '!help' to get started.</span>
        </li>
      </ul>
      <button type="submit" class="button">Send</button>
      <input type="text" id="chatroominput"/>
    </form>
  </div>
</div>
