<h2>Contact Us</h2>
<ul class="contact-list">
  <li><a href="mailto:support@botriot.com?subject=Botriot Feedback">Email Support</a></li>
  <li><a href="https://twitter.com/intent/tweet?related=botriot&original_referer=http://botriot.com/&text=@botriot%20">Tweet Us</a></li>
</ul>
<div>Like us on Facebook</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://facebook.com/botriotapp" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
