<div class="header">
  <h2 style="margin-left:0;">Congratulations on your new bot</h2>
</div>
<div class="dashcontent">
  <form id="botnameform" method="post">
    <p>Naming your bot is super important, this is how you will address them. ex. 'hal make me a sandwich'. Also don't worry, if you change your mind you can rename them later.<br/><br/>Bot names can only contain letters and numbers</p>
    <label><span>Bot Name</span><input name="botnameinput" type="text"/></label>
    <button type="submit" class="button">Create</button>
  </form>
</div>
<style type="text/css">
  .dashboard {
    width:500px !important;
    margin-left:auto;
    margin-right:auto;
  }
</style>