<footer>
  <div class="wrapper">
    <div class="bots">
      <a href="http://twitter.com/caseycrites" class="casey" title="Casey Crites">Casey Crites</a>
      <a href="http://twitter.com/dsmitts" class="derek" title="Derek Smith">Derek Smith</a>
      <a href="http://twitter.com/jonrohan" class="jon" title="Jon Rohan">Jon Rohan</a>
      <a href="http://twitter.com/wadey" class="wade" title="Wade Simmons">Wade Simmons</a>
    </div>
    <p>Copyright <%= (new Date()).getFullYear() %> <a href="/tos/">Terms of Service</a>, <a href="/contact/">Contact</a>. Follow <a href="https://twitter.com/intent/user?screen_name=botriot&original_referer=http://botriot.com/">@botriot</a> on Twitter.</p>
  </div>
</footer>
