<div class="optionalcommand">
    <div class="commandtitle">
        <h2>Rage Comics</h2>
        <p>Rage comics, made famous by <a href="http://reddit.com/r/fffffffuuuuuuuuuuuu">Reddit</a></p>
    </div>
    <div class="commandoptions">
        <label for="rageenabled">Enabled</label>
        <input id="rageenabled" type="checkbox"/>
    </div>
</div>
