<div class="header">
  <h2 style="margin-left:0;">Terms of Service</h2>
</div>
<div class="dashcontent" style="padding:20px;font-size:15px;">
  Botriot was made for a programming competition. Results cannot be guaranteed. 
  By signing up for the site you agree that we don't owe you any damages.
  <br/>
  <br/>
  None of your chat messages are logged, sold, in anyway. Your data is yours.
</div>
<style type="text/css">
  .logout {
    display:none!important;
  }
</style>