<div class="optionalcommand">
    <div class="commandtitle">
        <h2>Web Hook</h2>
        <p>A custom command and url that we'll relay your message to with a POST request.</p>
    </div>
    <div class="commandoptions">
        <label for="webhookcommand">Command</label>
        <input id="webhookcommand" type="text"/><br/>
        <label for="webhookurl">Url</label>
        <input id="webhookurl" type="text"/>
    </div>
</div>
